{% extends "workshop/base.html" %}

{% block title %} Atelier- Terre au Bout des Doigts {% endblock %}


{% block content %}
    
	{% load static %}
        
        
        <!-- Masthead-->
        <header class="masthead">
            
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">La Terre au Bout des Doigts</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-10align-self-baseline">
                        <h1 class="text-uppercase text-red font-weight-bold"> UNE PLACE DISPONIBLE  </h1>                        
                        <h1 class="text-uppercase text-red font-weight-bold">   COURS DU JEUDI APRES MIDI </h1>
                        <h1 class="text-uppercase text-white font-weight-bold">Cours de modelage et sculpture</h1>
                        <h1 class="text-uppercase text-white font-weight-bold">Nous contacter par e-mail : </h1>
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block" href="mailto:terreboutdoigts@gmail.com">terreboutdoigts@gmail.com</a>
                        <hr class="divider my-4" />
                    </div>

                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">La Terre au Bout des Doigts est née de la passion commune d'un groupe pour le modelage et la céramique.
                        Encouragée par ses 40 adhérents tous "envoûtés" par la terre et portée par ce groupe, l'association a pris son envol en début d'année 2016 .</p>
                    </div>
                </div>
            </div>
        </header>
               
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/1.jpg' %}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/1.jpg' %}" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/10.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/10.jpg' %}" alt="" />  
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/3.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/3.jpg'%}" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/4.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/4.jpg'%}" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/5.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/5.jpg'%}" alt="" />  
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/6.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/6.jpg'%}" alt="" />
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/7.jpg' %}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/7.jpg' %}" alt="" />
  
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/8.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/8.jpg' %}" alt="" />                           
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/9.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/9.jpg'%}" alt="" />  
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/2.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/2.jpg'%}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/11.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/11.jpg'%}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/12.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/12.jpg'%}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/13.jpg' %}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/13.jpg' %}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/14.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/14.jpg' %}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/15.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/15.jpg'%}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/16.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/16.jpg'%}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/17.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/17.jpg'%}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 ">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/18.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/18.jpg'%}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/19.jpg' %}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/19.jpg' %}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/20.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/20.jpg' %}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/21.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/21.jpg'%}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/22.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/22.jpg'%}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 d-none d-sm-block">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/23.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/23.jpg'%}" alt="" />                            
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <a class="portfolio-box" href="{% static 'workshop/assets/img/main/24.jpg'%}">
                            <img class="img-fluid" src="{% static 'workshop/assets/img/main/24.jpg'%}" alt="" />                            
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- where are we-->
        {% include 'workshop/location.html' %}
        <!-- Calendar of meetings-->
        {% include 'members/calendar_meeting.html' %}
        <!-- Contact-->
        {% include 'workshop/contact.html' %}
{% endblock %}
