<!-- Calendar-->
{% load static %}
<section class="page-section" id="contact" background-color="#86ebe6">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Calendrier des séances</h2>
                <hr class="divider my-4" />
            </div>
        </div>
        <div class="row">
            <img class="img-fluid" src="{% static 'workshop/assets/img/calendar.png' %}"/> </a></div> 
        </div>
    </div>
</section>