{% extends "workshop/base.html" %}

{% block title %} Politique d'utilisation des cookies {% endblock %}


{% block content %}
    
	{% load static %}
     <!-- Masthead-->
     <header class="masthead">
            
        <div class="container h-50">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <hr class="divider my-4" />
                    <h1 class="text-uppercase text-white font-weight-bold">Politique d'utilisation des cookies par l'association </h1>
                    <h1 class="text-uppercase text-white font-weight-bold"> La Terre au Bout des Doigts</h1>
                    <hr class="divider my-4" />
                </div>
            </div>
        </div>
    </header>
    <section class="page-section bg-info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 ">
    
                        <h2>I. Définition</h2>

    <p>Les Cookies sont de petits fichiers textes souvent cryptés qui sont stockés dans le navigateur de votre ordinateur ou sur votre appareil mobile lorsque vous visitez certains Sites Web.</p>

    <p>Le but de nos Cookies est de vous offrir l’accès aux fonctionnalités prévues sur <a href="https://terreboutdoigts.fr/" target="_blank">terreboutdoigts.fr/</a> (ci-après le « <strong>Site</strong> »), mais aussi d’effectuer des analyses statistiques afin d'améliorer votre navigation sur notre Site, et enfin de conserver votre consentement/refus aux différents Cookies. Les Cookies sont alors utilisés soit pour une visite unique (via un « Cookie de session »), soit pour plusieurs visites répétées (à l'aide d'un « Cookie persistant »).</p>

    <p>Les cookies de session sont des cookies temporaires utilisés au cours de votre visite sur le site Web. Ils expirent lorsque vous fermez le navigateur Web.</p>

    <p>Les cookies persistants sont utilisés pour mémoriser vos préférences sur notre Site et restent sur votre ordinateur de bureau ou votre appareil mobile même après la fermeture de votre navigateur ou le redémarrage de votre ordinateur. Ils vous assurent une expérience cohérente et efficace lorsque vous visitez notre Site ou utilisez nos services. Leur durée est spécifiée dans le tableau ci-dessous.</p>

    <p>Les cookies peuvent être définis par le Site (« Cookies propriétaires ») ou par des tiers, tels que ceux qui servent du contenu ou fournissent des services d'analyse sur le Site (« Cookies tiers »). Ces tiers peuvent vous reconnaître lorsque vous visitez notre Site et également lorsque vous visitez certains autres sites Web.</p>

    <p>Le Site utilise des Cookies à trois fins : nécessaire, analytique et fonctionnel.</p>

    <h3>Cookie nécessaire</h3>

    <p><strong>Nom :</strong> csrftoken<br>
    <strong>Fournisseur :</strong> Django<br>
    <strong>Expiration :</strong> 1 an<br>
    <strong>Finalité :</strong> Token Django pour protection anti CSRF. Cross-Site Request Forgery, abrégé CSRF (parfois prononcé sea-surfing en anglais) ou XSRF, est un type de vulnérabilité des services d'authentification web. Ce cookie permet de s'en protéger.</p>

    <h3>Cookies analytiques</h3>

    <p><strong>Nom :</strong> _ga<br>
    <strong>Fournisseur :</strong> Google<br>
    <strong>Expiration :</strong> 2 ans<br>
    <strong>Finalité :</strong> Enregistre un identifiant unique utilisé pour générer des données statistiques sur la façon dont le visiteur utilise le site.</p>

    
    <h3>Cookie fonctionnel :</h3>

    <p><strong>Nom :</strong> cookie_consent_user_accepted<br>
    <strong>Fournisseur :</strong> TBD<br>
    <strong>Expiration :</strong> 2 mois<br>
    <strong>Finalité : </strong> Ce cookie sert à conserver votre acception ou refus de la présente charte des cookies.</p>

    <p><strong>Nom :</strong> cookie_consent_level<br>
        <strong>Fournisseur :</strong> TBD<br>
        <strong>Expiration :</strong> 2 mois<br>
        <strong>Finalité : </strong> Ce cookie sert à conserver votre niveau d'acceptation de la présente charte des cookies.</p>
    
    <h2>II. Utilisation des cookies par TBD</h2>

    <p>Nous vous informons que l’usage des cookies fera l’objet d’une suppression automatique lorsque vous quittez le Site et ne saurait, en tout état de cause, dépasser une durée d’utilisation de treize (13) mois.</p>

    <h2>III. Acceptation ou désactivation des Cookies</h2>

    <p>Votre consentement préalable est nécessaire avant l’installation de certains Cookies.</p>

    <p>Ainsi, lors de votre première visite sur le Site, un « Bandeau cookies » apparaîtra en page d’accueil.</p>

    <p>Nous vous rappelons qu’il n’est pas nécessaire d’obtenir votre consentement préalable à l’installation de Cookies techniques, c’est-à-dire les Cookies strictement nécessaires pour la délivrance des Services.</p>

    <p>Il vous est possible de vous opposer au dépôt de Cookies en configurant votre navigateur. En effet, votre navigateur peut être configuré pour accepter automatiquement les Cookies ou les refuser. Vous avez également la possibilité de désactiver le stockage des Cookies, d’être alerté quand un Cookie est émis et de voir son contenu et sa durée de validité.</p>

    <p>Le fait de désinstaller un Cookie ou de vous opposer à l’installation de Cookies sur vos appareils peut modifier votre expérience de navigation et vous empêcher de bénéficier de certains services du Site.</p>

    <p>Les instructions en matière de Cookies sur les navigateurs les plus couramment utilisés sont disponibles sur les liens suivants :</p>

    <p>• Pour Chrome: <a href="https://policies.google.com/technologies/managing" target="_blank">https://policies.google.com</a><br>
    • Pour Edge: <a href="https://support.microsoft.com/en-us/help/4468242/microsoft-edge-browsing-data-and-privacy" target="_blank">https://support.microsoft.com</a><br>
    • Pour Apple: <a href="https://support.apple.com/fr-fr/HT201265<br/>" target="_blank">https://support.apple.com</a><br>
    • Pour Firefox: <a href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop?redirectlocale=en-US&amp;redirectslug=enable-and-disable-cookies-website-preferences" target="_blank">https://support.mozilla.org</a></p>

    <p>Si vous souhaitez de plus amples informations sur les outils de maitrise des Cookies, nous vous invitons à consulter les liens suivants :</p>

    <p>• <a href="www.cnil.fr/vos-droits/vos-traces/les-cookies" target="_blank">www.cnil.fr</a><br>
    • <a href="www.internetcookies.org" target="_blank">www.internetcookies.org</a></p>

    <h2>IV. Modifications</h2>

    <p>Toutes les modifications de la présente politique seront publiées sur cette page avec la date de la dernière révision.</p>

    <h2>V. Contact</h2>

    <p>Si vous avez des questions, des commentaires, des réclamations ou des demandes concernant cette politique Cookies, ou sur le traitement de vos informations, vous pouvez nous contacter à l’adresse suivante : <a href="mailto:houche.zebra385@gmail.com">houche.zebra385@gmail.com</a></p>
                    </div>
                </section>
            </div>

        </div>
    </section>
{% endblock %}