{% extends "workshop/base.html" %}

{% block title %} Les cours {% endblock %}
{% block content %}
{% load static %}
    <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Saison 2021-2022</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-uppercase text-danger bg-white p-2 rounded-pill mb-5">Les inscriptions sont cloturées car les cours sont complets.</p>
                        <hr class="divider my-4" />
                        <p class="text-white-75 font-weight-light mb-5">La Terre au Bout des Doigts organise des cours, assurés par</br> </br><strong>Mathieu KRIER,</strong> </br> </br>selon les modalités ci-dessous</p>
                    </div>
            </div>
        </header>
    <!-- The classes-->
    <section class="page-section bg-info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0 bg-white p-2 rounded-pill mr-4 ml-4">Atelier 2h30 ou 3h par semaine</h2>
                    <hr class="divider my-4" />
                    <h2 class="text-white mb-5">Deux types de cours, soit en jounée, soit le soir</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 ml-auto text-center mb-5 mb-lg-0 text-info bg-white p-2 rounded-left mr-2 ">
                    <h2 class="text-dark">Atelier 3h en journée</h2>
                        <hr class="divider my-3" />
                        <h2 >
                         Mardi de 13h30 à 16h30  </br>
                         Jeudi de 09h30 à 12h30</br>
                         et de 13h30 à 16h30 </h2>    
                        <hr class="divider my-3" />  
                        <h2 class="text-dark">
                            Tarif (2021-2022) </h2>
                            <hr class="divider my-3" />
                        <h2>465€ l'année</br>
                            + 25€ d'adhésion à l'association TBD </h2>                   
                    </div>
                
                <div class="col-lg-5 mr-auto text-center text-info bg-white p-2 rounded-left ml-2 ">
                    <h2 class="text-dark">Atelier 2h30 en soirée</h2>
                        <hr class="divider my-3" />
                        <h2 >
                         Mardi de 19h30 à 22h </br>
                         Mercredi de 19h30 à 22h</h2>
                         <hr class="divider my-3" />  
                         <h2 class="text-dark">
                             Tarif (2021-2022)</h2>
                             <hr class="divider my-3" />
                        <h2> 387€ l'année</br>
                             + 25€ d'adhésion à l'association TBD </h2>                            
                </div>

            </div>
            <div>
            <hr class="divider my-3" />
            <h3 class="col-lg-12 text-center text-white ">Les cours ouvriront à raison de 9 participants par atelier</h3>
            <hr class="divider my-3" />
            </div>
            <div class="row justify-content-center">
            <div class="col-lg-3"> 
            <a href="{% static 'workshop/pdf/reglement.pdf' %}"><h3 class="mt-0 bg-white p-2 rounded-pill mr-4 ml-4">Reglement</h3></a>
            </div>
            <div class="col-lg-5"> 
            <a href="{% static 'workshop/pdf/charte_mad_locaux_covid_V2.pdf' %}"><h3 class="mt-0 bg-white p-2 rounded-pill mr-4 ml-4">Charte_Covid_Nantes</h3></a>
            </div>
            <div class="col-lg-4"> 
            <a href="{% static 'workshop/pdf/Charte_tbd_covid_V3.pdf' %}"><h3 class="mt-0 bg-white p-2 rounded-pill mr-4 ml-4">Charte_Covid_TBD</h3></a>
            </div>
        </div>
    </section>
{% endblock %}
