<!-- Button -->
<!--button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popup">
    Afficher le message en cours
</button-->
<!-- Pop-up -->
<div id="popup" class="modal">
       <div class="modal-dialog">
                <div class="modal-content">
                 <div class="modal-header">
                    <p class="text-uppercase text-danger bg-white p-2 rounded-pill mb-5"> Message important : 
                        Posssibilité d'inscription </p>
                       </div>
                 <div class="modal-body">
                      <p> Une place vient de se liberer le mardi après-midi et une le jeudi après-midi </p>
                      <p> Si vous êtes interressé cliquer sur le contact inscription ci-dessous</p>
                       </div>
                 <div class="modal-footer">
                     <div class="mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <h2 class="mt-0">Contact inscription</h2>
                    
                    <a class="d-block mr-auto text-center"  href="mailto:celia_delaleu@hotmail.com">celia_delaleu@hotmail.com</a>
                    </div >
                    <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer ce message>
                               </button-->
                       </div>
                </div>
       </div>
</div>