{% extends "workshop/base.html" %}
{% block title %} Les stage {% endblock %}
{% block content %}
{% load static %}
    <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">Saison 2020-2021</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-uppercase text-danger bg-white p-2 rounded-pill mb-5">En raison de la crise sanitaire que nous traversons, Nous sommes pour le moment dans l'incapacité d'organiser des stages</p>
                        <hr class="divider my-4" />
                        <p class="text-white-75 font-weight-light mb-5">Mais dès que se sera possible revenez visitez cette page pour y trouver les informations</p>
                        <hr class="divider my-4" />
                    </div>
            </div>
        </header>
    <!-- Stage-->
{% endblock %}