{% extends "workshop/base.html" %}
{% block title %} Confirmation demande d'échange de séance {% endblock %}

{% block content%}
    {% load static %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                
            <h2 class="text-uppercase text-white font-weight-bold">(Mme/M.) {{user.username}} un email vient d'être envoyer au groupe de votre choix pour échanger une de vos séances </h2>
                 
            </div>
        </div>
    </header>
   

   
{% endblock %}