{% extends "workshop/base.html" %}
{% block title %} Demande échange de séance {% endblock %}

{% block content%}
    {% load static %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center ">
                
                <!-- Demande d'échange de séance-->
                {% include 'members/call_change_meeting.html'  %} 
            </div>
        </div>
    </header>
    <!-- Formulaire de connexion pour l'administrateur-->
    {% comment %} {% include 'accounts/form_login.html' %} {% endcomment %}

   
{% endblock %}